header{

    nav{
        border: 1px solid grey;

        ul{
            display: flex;
            width: fit-content;
            gap: 20px;
        }

        li{
            list-style-type:none;
            padding: 10px;
            border: 1px solid gray;
            cursor: pointer;
        }

    }
}

.active{
    background-color: bisque;
}