@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto:ital,wght@0,300;1,400&display=swap');



.container{

    display:flex;
    text-align:center;
    font-family: 'Roboto', sans-serif;

    .product-card{

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 10px;
        padding:10px;
        border: 1px solid grey;

        button{
            border:1px solid black;
            cursor:pointer;
        }
        h3{
            color:blue;
        }
        p:nth-child(3){

            color:red;

        }
    }
}

