<h2>Add Product Form</h2>


<form [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name"/>

    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input id="description" type="textarea" formControlName="description"/>

    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input id="price" type="text" formControlName="price" min="1"/>

    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" formControlName="category">
            <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
        </select>

    </div>
    <div class="form-group">
        <label for="stock">Stock:</label>
        <input id="stock" type="number" formControlName="stock" min="0"
        max="20"/>

    </div>
    <button type="submit" [disabled]="!productForm.valid">Add Product</button>
</form>