form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height:fit-content ;  
     margin: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid grey;
    padding: 20px;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: rgb(63, 46, 223);
    margin-left: 30px;
}
.form-group {
    padding: 10px;

    div{
        color: red;
    }
}
