.order-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid grey;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    
}

h2{
    font-family: 'Roboto', sans-serif;

}


li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}